@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,500;1,700&display=swap');

*,
*::after,
*::before{
box-sizing: border-box;
margin:0px;
padding:0px;
}

html{
font-size: 62.5%;
}

body{
font-family: 'Poppins', sans-serif;
}

/* ############################### utility-classes ########################### */

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.btn{
    display: inline-block;
    padding: 0.5em 2.5em;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    margin-top: 1em;
}

.btn-primary{
    background-color: #16a083;
    color: #fff;

}

/* ############################ NAVBAR-STYLING ############################ */

/* for desktop mode  */

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.navbar{
    box-shadow: 0 5px 10px 0px #aaa;
    position: fixed;
     width: 100%;
    background-color: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 99;
}
 .navbar-container{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
 .menu-items{
order:2;
display: flex;
}

.menu-items li{
list-style: none;
margin-left: 1.5rem;
font-size: 1.8rem;
}

.navbar a{
text-decoration: none;
color:#444;
font-weight: 500;
transition: color 0.2sec ease-in-out;
text-transform: uppercase;
}
.navbar a:hover{
    color: #117964;
}

.logo{
    order:1;
    font-size: 3rem;
}

/* ######################### showcase-styling ######################## */

.showcase-area{
    height: 50vh;
    background: url("../image/header-image2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    height: 100%;
}

.main-title{
text-transform: uppercase;   
}

#about{
margin: 50px 0px;
background-color: #f5f5f7;  
}

.about-wrapper{
display: flex;
} 

#about p{
    font-size: 1.6rem;
    color: #555;
}

#about h2{
    font-size: 3.2rem;
}

#about .small{
    font-size: 3.2rem;
    font-family: 500;
    color: #666;
}

.about-img{
    flex: 1 1 400px;
    padding: 30px; 
    transform: translateX(150%);
    animation: about-img-animation 1s ease-in-out forwards;
  }
  @keyframes about-img-animation{
      100%{
          transform: translate(0);
      }
  }
  

.about-text{
flex: 1 1 400px;
padding: 30px;
margin: auto;
transform: translateX(-150%);
animation: about-text-animation 1s ease-in-out forwards;
}
@keyframes about-text-animation{
    100%{
        transform: translate(0);
    }
}

.about-img img{
    display: block;
    height: 400px;
    width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
}
/* ########################## FOOD CATAGORY STYLING ####################### */
 #food{
    padding: 5rem 0 10rem 0;
}

#food h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 40px;
    color: #555;
    text-transform: uppercase;
}

.food-container{
    display: flex;
    justify-content: space-between;
}

.food-container img{
    width: 100%;
    display: block;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.img-container{
margin: 0 1rem; 
position: relative;   
}

.img-content{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* opacity: 0; */
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
}

.img-content h3{
    color: #fff;
    font-size: 3rem;;
}

.img-content a{
    font-size: 1.2rem;
}

.img-container::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.871);
    /* opacity: 0; */
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}

.img-container:hover::after{
opacity: 1;
transform: scaleY(1);
}

.img-container:hover .img-content{
    opacity: 1;
    top: 40%; 
} 
/* #################### food menu heading ###################### */

.food-menu-heading{
    font-size: 4rem;
    text-align: center;
     font-weight: 400;
     color: #666;
}

.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
}
.food-menu-container img{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.food-menu-item{
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.food-discription{
    margin: auto 1.5rem;
}

.food-title{
font-size: 2.2rem;
font-weight: 400;
color: #444;
}

.food-discription p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #555;
}

.food-discription .food-price{
    color: #117964;
    font-weight: 700;
}

#testimonial{
    padding: 5rem 0;
    background-color: rgb(246, 246, 246);
}

.testimonial-title{
    color: #555;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

.testimonial-container{
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 1rem;

}

.testimonial-container .checked{
    color: gold;
}

.testimonial-box .testimonial-text{
    margin: 1rem 0;
    color: #444;
}

.testimonial-box{
    text-align: center;
    padding: 1rem;
}

.customer-photo img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    margin: auto;
}
/* ######################### conatact us styling ######################### */

#contact{
padding: 5rem 0;
background-color: rgb(226, 226, 226);
}

.contact-container{
    display: flex;
    background-color: #fff;
}

.contact-img{
    width: 50%;
}

.contact-img img{
    display: block;
    height: 400px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.form-container{
    padding: 1rem;
    width: 50%;
    margin: auto;
}

.form-container input{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #DDD;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1 rem;
    color: #444;
    font-weight: 500%;
}

.form-container textarea{
display: block;
width: 100%;
border: none;
border-bottom: 2px solid #ddd;
padding: 1rem 0;
}

.form-container h2{
    font-size: 3rem;
    font-weight: 400;
    color: #444;
    margin-bottom: 1rem;
}

.form-container a{
    font-size: 1.2rem;
}

.footer{
    background-color:rgb(65, 65, 65);
    color:#fff;
    font-size: 1.5rem;
    padding: 3rem;
    font-weight: 500;
    text-align: center;
}

/* ######################### media querry #################### */

@media(max-width:768px){
.navbar{
    opacity: 0.95;
}
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: block;
}
.navbar-container{
    display: block;
    position: relative;
    height: 64px;
}
.navbar-container input[type="checkbox"]{
    position: absolute;
    display: block;
    height: 32px;
    width: 40px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
}
.navbar-container .hamburger-lines{
    display: block;
    height: 40px;
    position: absolute;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-container .hamburger-lines .line{
    display: block;
    height: 40px;
    width: 32px;
    border-radius: 10px;
    background-color: #333;
}
.navbar-container .hamburger-lines .line1{
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.navbar-container .hamburger-lines .line2{
    transition: transform 0.4s ease-in-out;
}
.navbar-container .hamburger-lines .line3{
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
.navbar .menu-items{
    padding-top: 100px;
    background-color: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translateX(-150%);
    padding-left: 50px;
    margin-left: -40px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 0px 10px 0px #aaa;
}
.navbar .menu-items li{
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 500;
}
.logo{
position: absolute;
top: 10px;
right: 15px;
font-size: 3rem;
}
.navbar-container input[type="checkbox"]:checked ~ .menu-items{
    transform: translateX(0);
}
.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
    transform: rotate(45deg);
}
.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
    transform: scaleY(0);
}
.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
    transform: rotate(-45deg);
}

/* ######################## food styling ####################### */

.food-item{
    flex-direction: column;
    align-items: stretch;
}
.food-type:not(:last-child){
    margin-bottom: 3rem;
}
.food-type{
    box-shadow: 5px 5px 10px 0px #aaa;
}
.img-container{
    margin: 0px;
}

/* ################## small screen ####################### */

@media(max-width: 500px){
    html{
        font-size: 50%;
    }
    .testimonial-container{
        flex-direction: column;
        text-align: center;
    }
    .food-menu-item{
        flex-direction: column;
        text-align: center;
    }
    .food-menu-container img{
        margin: auto;
    }
    .form-container{
        width: 90%;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    .contact-image{
        width: 100%;
        margin: 3rem auto;
    }
}